<header>
  <img class="logo" src="assets/logo.png" alt="Logo">
  <nav class="menu-links">
      <a class="menu-link" routerLink="/message-board">Üzenőfal</a>
      <a class="menu-link" routerLink="/users">Felhasználók</a>
      <a class="menu-link" routerLink="/messages">Üzenetek</a>
      <a class="menu-link" routerLink="/user/0">Profil</a>
      <a class="menu-link" routerLink="/sign-up">Regisztráció</a>
      <a class="menu-link" routerLink="/sign-in">Bejelentkezés</a>
      <a class="menu-link">Kijelentkezés</a>
  </nav>
</header>
