<div class="filter-buttons">
  <button (click)="setFilter('all')"
          [ngClass]="{'on':filter==='all'}">
          MINDENKI
  </button>
  <button (click)="setFilter('contact')"
          [ngClass]="{'on':filter==='contact'}">
          ISMERŐSÖK
  </button>
  <button (click)="setFilter('unknown')"
          [ngClass]="{'on':filter==='unknown'}">
          FELFEDEZÉS
  </button>
  <button (click)="setFilter('marked')"
          [ngClass]="{'on':filter==='marked'}">
          ÉN JELÖLTEM
  </button>
  <button (click)="setFilter('markedBy')"
          [ngClass]="{'on':filter==='markedBy'}">
          ENGEM JELÖLT
  </button>
</div>

<div class="user-grid">
  <div *ngFor="let user of filteredUsers$ | async; trackBy: trackByUserId" class="user-item">

    <div class="user-name">{{ user.name }}</div>
    <div class="user-details">{{ user.about }}</div>
    <div class="user-button-container">
      <button class="message"
              routerLink="/messages"
              *ngIf="user.contactState==='contact'">
              Üzenet küldése
      </button>
      <button class="mark"
              *ngIf="user.contactState === 'unknown'"
              (click)="markUser(user.id)">
        Ismerősnek jelölöm
      </button>
      <button class="cancel"
              *ngIf="user.contactState === 'marked'"
              (click)="cancelMark(user.id)">
        Visszavonom a jelölést
      </button>
      <button class="accept"
              *ngIf="user.contactState === 'markedBy'"
              (click)="acceptMark(user.id)">
        Elfogadom a jelölést
      </button>
      <button class="decline"
              *ngIf="user.contactState === 'markedBy'"
              (click)="declineMark(user.id)">
        Visszautasítom a jelölést
      </button>
    </div>

  </div>
</div>
