.user-grid, .filter-buttons {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 20px;
  padding: 20px 20px 0 20px;
  justify-content: center;
}

.user-item {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #84c152;
  border-radius: 5px;
}

.filter-buttons button {
  background-color: #F1E4ED;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 20px;

  &.on {
    background-color: #CEA1C1;
  }
}
