<div class="container">
  <h2>Bejelentkezés</h2>
  <form [formGroup]="signInForm" (submit)="signIn()">
    <div class="form-group">
      <input type="text"
             id="email"
             formControlName="email"
             placeholder="E-mail cím"
             aria-label="Email cím"
             aria-describedby="emailError"
             email>
      <span *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.dirty"
            id="emailError">
        Adjon meg egy helyes email címet.
      </span>
    </div>
    <div class="form-group">
      <input type="password"
             id="password"
             formControlName="password"
             placeholder="Jelszó"
             aria-label="Jelszó"
             aria-describedby="passwordError"
             required>
      <span *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.dirty"
            id="passwordError">
        Adjon meg egy jelszót.
      </span>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="signInForm.invalid">Bejelentkezek</button>
    </div>
    <div class="form-group">
      <span class="error" *ngIf="error">Hibás bejelentkezés</span>
    </div>
  </form>
</div>
